body{
font-family: Arial;
margin:0;
background:#f5f5f5;
}

header{
background:#0d1b2a;
color:white;
padding:15px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
text-align:center;
padding:50px;
background:white;
}

.card{
background:white;
padding:20px;
margin:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}
